$is-print: true;
@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    src: url("#fonts/Roboto/Roboto-Thin.ttf") format("ttf");
    font-family: "Roboto";
    font-weight: 100;
}

@import "govuk_tech_docs";
