
@font-face {
    // This is parsed as a normal function call that takes a quoted string.
    font-family: "Roboto", sans-serif !important;
}

h1 {
  font-family: "Roboto", sans-serif !important;
}

h2 {
  font-family: "Roboto", sans-serif !important;
}

p {
  font-family: "Roboto", sans-serif !important;
}

ul * {
  font-family: "Roboto", sans-serif !important;
}

@import "govuk_tech_docs";
